name: JMH Pre-Integration Tests

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        java: [7, 8, 11, 17, 19-ea]
        os: [ubuntu-20.04, windows-2022, macos-11]
        profile: [default, reflection, asm]
      fail-fast: false
    name: Test JDK ${{ matrix.java }}, ${{ matrix.os }}, ${{ matrix.profile }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml', '.github/workflows/pre-integration.yml') }}
        restore-keys: ${{ runner.os }}-maven
    - name: Run build with tests
      run: mvn clean install -P ${{ matrix.profile }} -B --file pom.xml
      if: (runner.os == 'Linux') || (matrix.profile == 'default')
    - name: Run build without tests
      run: mvn clean install -DskipTests -P ${{ matrix.profile }} -B --file pom.xml
      if: (runner.os != 'Linux') && (matrix.profile != 'default')
